bcrypt
blinker==1.6.2
click==8.1.7
colorama==0.4.6
dnspython
Flask
flask-cors
flask-socketio
itsdangerous
Jinja2
jsonify
pyjwt
MarkupSafe
numpy
onnxruntime
opencv-python
pathlib
Pillow
psycopg2
psycopg2-binary
pybase64
python-dotenv
python-socketio
storage3
supabase
torch
torchvision
torchaudio
ultralytics
uuid
Werkzeug