bcrypt
blinker==1.6.2
click==8.1.7
colorama==0.4.6
dnspython
Flask==2.3.3
flask-cors
flask-socketio
itsdangerous==2.1.2
Jinja2==3.1.2
json
jsonify
pyjwt
MarkupSafe==2.1.3
numpy
onnxruntime
opencv-python
pathlib
Pillow
psycopg2
psycopg2-binary
pybase64
python-dotenv==1.0.0
python-socketio
storage3
supabase
torch
torchvision
torchaudio
ultralytics
uuid
Werkzeug==2.3.7